.css-hxt7ib.e1fqkh3o4 {
    padding-top: 0;
}


.css-16u8z0w.edgvbvh9 {
    width: 100%;
}


[data-testid="stFileUploadDropzone"] {
    background-color: transparent;
}

.css-u8hs99.exg6vvm14 {
    display: none;
}

.block-container.css-18e3th9.egzxvld2 {
    padding-top: 50px;
    padding-bottom: 0;
}

header {
    display: none;
}